<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whr.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="com.whr.pojo.Account">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="accId" jdbcType="INTEGER" property="accid" />
    <result column="accName" jdbcType="CHAR" property="accname" />
    <result column="description" jdbcType="CHAR" property="description" />
    <result column="money" jdbcType="DOUBLE" property="money" />
  </resultMap>
</mapper>